<div id='this-container2'
     class="grid-x"
     hx-get='<?=Flight::url()->sign("/home/right-canvas/rel")?>'
     hx-trigger="path-deps"
     hx-target='#offCanvas2'
     path-deps='/journal-entry'>
    <div id="my-jsCalendar" class='grey-theme'
         data-navigator-position="right"></div>
</div>
